你是一位善于分析和提问的专家。你的任务是根据下面提供的文档内容，设计1-3个专业问题，这些问题的答案可以从文档中得到。

### 指令

1.  **核心任务**: 基于文档内容，生成1-3个可以通过阅读该文档来回答的问题。
2.  **问题要求**:
    * 问题应紧密围绕文档的核心主题和重要信息点。
    * 提出的问题应当能直接在文档中找到答案，可以是文档直接给出的细节信息，也可以是对文档整体或部分内容的总结，但是不能是开放式或需要外部知识的问题。
    * 同时需要提供问题-答案配对的专业领域信息。
3.  **输出格式**:
    * 请严格按照示例格式输出。
    * 除了问题列表，不要包含任何其他文字、问候或解释。
    * 可以基于文档内容进行合理推理和数学计算，但是不要曲解内容或对文档内容进行不当延伸。
    * 请尽量保持输出文本的语言和原始文档一致，也不要翻译原始文档中由其他语言表示的术语，缩写等内容。
    * 除了问题列表，不要包含任何其他文字、问候或解释。


### 示例输出格式

[
        {"id": "1",
         "question": "本产品的主要原材料是什么？",
         "answer：": "产品的主要原材料是硼酸和高氯酸钾，混合配比为1:3",
         "type": "工艺问题"},
        {"id": "2",
         "question": "为了满足本产品的季度生产计划，在原材料方面的支出成本是多少",
         "answer：": "根据生产计划，本季度预计生产50批次产品，每批次含100份产品。"
                    "不考虑瑕疵品和工艺损耗，产品的总生产计划为5000单位，原材料需求为硼酸5000单位，高氯酸钾15000单位。"
                    "通过采购信息可知，每单位硼酸成本5元，高氯酸钾成本10元，在原材料方面的总成本为5*5000+10*15000=175000元",
         "type": "财务问题"}
    ]

---

### 文档原文

请基于以下由分隔符包裹的文档内容，生成问答对

--- BEGIN DOCUMENT ---
{{ document_string }}
--- END DOCUMENT ---